@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  /* grey */
  --grey-400: #7d7d7d;
  --grey-200: #d8d8d8;
  --grey-150: #e5e5e5;
  --grey-100: #f3f3f3;

  --gradient: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 84%);

  /* TYPOGRAHY */
  /* text-preset-1 */
  --text-preset-1-font: 700 200px/1.15 "Libre Baskerville", serif;
  --text-preset-1-spacing: -0.2px;
  /*text-preset-2 */
  --text-preset-2-font: 700 56px/1.15 "Libre Baskerville", serif;
  --text-preset-2-spacing: 0px;
  /*text-preset-3 */
  --text-preset-3-font: 700 18px/1.25 "Libre Baskerville", serif;
  --text-preset-3-spacing: 0px;
  /*text-preset-4 */
  --text-preset-4-font: 400 15px/1.35 "Libre Baskerville", serif;
  --text-preset-4-spacing: 0px;
  /*text-preset-5 */
  --text-preset-5-font: 400 13px/1.25 "Libre Baskerville", serif;
  --text-preset-5-spacing: 0px;
  /*text-preset-6 */
  --text-preset-6-font: 700 12px/1.25 "Libre Baskerville", serif;
  --text-preset-6-spacing: 2.5px;
  /*text-preset-7 */
  --text-preset-7-font: 700 10px/1.2 "Libre Baskerville", serif;
  --text-preset-7-spacing: 2px;

  /* TYPOGRAPHY (MOBILE)~LATER */
  --text-preset-2-font-mobile: 700 24px/1.25 "Libre Baskerville", serif;
  --text-preset-2-spacing-mobile: 0px;
  
  --text-preset-3-font-mobile: 700 14px/2 "Libre Baskerville", serif;
  --text-preset-3-spacing-mobile: -0.25px;

  --text-preset-5-font-mobile: 700 9px/1.25 "Libre Baskerville", serif;
  --text-preset-5-spacing-mobile: 2px;
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100%;
  position: relative;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
.navbar > button {
  background-color: transparent;
  border: none;
  font: var(--text-preset-4-font);
  letter-spacing: var(--text-preset-4-spacing);
  color: var(--grey-400);
}
.separator {
  position: relative;
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--grey-150); 
  margin: 0 0;
}
.bento-grid{
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 10px;

}
.bento-grid >div{
    background-color: rebeccapurple;
    
}
#template-1{
    grid-row: 1/span 25;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1024px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg");
}
#template-2{
    grid-row: 1/span 40;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/1665_Girl_with_a_Pearl_Earring.jpg/800px-1665_Girl_with_a_Pearl_Earring.jpg");
}
#template-3{
    grid-row: 1/span 29;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Mural_del_Gernika.jpg");
}
#template-4{
    grid-row: 1/span 25;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/25/Artemisia_Gentileschi_%E2%80%94_Conversione_della_Maddalena_%28Maria_Maddalena_penitente.jpg");
}
#template-5{
    grid-row: 27/span 34;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Rembrandt_Christ_in_the_Storm_on_the_Lake_of_Galilee.jpg/800px-Rembrandt_Christ_in_the_Storm_on_the_Lake_of_Galilee.jpg");
}
#template-6{
    grid-row: 42/span 28;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Tsunami_by_hokusai_19th_century.jpg/1280px-Tsunami_by_hokusai_19th_century.jpg");
}
#template-7{
    grid-row: 31/span 49;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Vincent_Willem_van_Gogh_102.jpg/500px-Vincent_Willem_van_Gogh_102.jpg");
}
#template-8{
    grid-row: 27/span 25;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/La_Boh%C3%A9mienne_endormie.jpg/1280px-La_Boh%C3%A9mienne_endormie.jpg");
}
#template-9{
    grid-row: 62/ span 42;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Lady_with_an_Ermine_-_Leonardo_da_Vinci_%28adjusted_levels%29.jpg/800px-Lady_with_an_Ermine_-_Leonardo_da_Vinci_%28adjusted_levels%29.jpg");
}
#template-10{
    grid-row: 71/span 26;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Vincent_Willem_van_Gogh_076.jpg/1024px-Vincent_Willem_van_Gogh_076.jpg");
}
#template-11{
    grid-row: 81/span 50;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/500px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg");
}
#template-12{
    grid-row: 53/span 43;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Paul_C%C3%A9zanne_-_The_Basket_of_Apples_-_1926.252_-_Art_Institute_of_Chicago.jpg/1024px-Paul_C%C3%A9zanne_-_The_Basket_of_Apples_-_1926.252_-_Art_Institute_of_Chicago.jpg");
}
#template-13{
    grid-row: 105/span 26;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Le_Gar%C3%A7on_au_gilet_rouge%2C_par_Paul_C%C3%A9zanne%2C_FWN_496.jpg/800px-Le_Gar%C3%A7on_au_gilet_rouge%2C_par_Paul_C%C3%A9zanne%2C_FWN_496.jpg");
}
#template-14{
    grid-row: 98/span 33;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/The_Arnolfini_portrait_%281434%29.jpg/800px-The_Arnolfini_portrait_%281434%29.jpg");
}
#template-15{
    grid-row: 97/span 34;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Fragonard%2C_The_Swing.jpg/500px-Fragonard%2C_The_Swing.jpg");
}

.bento-grid>div{
    opacity: 0.8;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
}
.bento-grid-title{
    font: var(--text-preset-2-font-mobile);
    letter-spacing: var(--text-preset-2-spacing-mobile);
    margin-bottom: 0;
}
.bento-grid-author{
    font: var(--text-preset-6-font);
    letter-spacing: var(--text-preset-6-spacing);
}


.bento-grid > div:hover{
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
}

.slideshow{
    /* background-color: red; */
    height: 100%;
    margin-top: 96px;
    position: relative;

}

.slideshow{
    display: flex;
    flex-direction: row;
    height: 100vh;

}
.img-container{
    max-width: 35%;
}
.img-container>img{
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.info-container{
    position: relative;
    height: 100%;
    width: 30%;
}
.info-container-name{
    background-color: white;
    height: 40%;
    width: 100%;
    position: absolute;
    z-index: 12;
    left: -20%;
    padding-left: 20%;
}
.info-container-image{
    position: absolute;
    height: 20%;
    object-fit: cover;
    bottom: 0;
    left: 10%;
    

}

.info-container-name >h3{
    font: var(--text-preset-2-font);
    letter-spacing: var(--text-preset-2-spacing);
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
}
.info-container-name>p{
    font: var(--text-preset-4-font);
    letter-spacing: var(--text-preset-4-spacing);
    color: var(--grey-400);
}

.story-container{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 159px 150px 30px 10px;
    color: var(--grey-400);
    text-align: left;
    font: var(--text-preset-3-font-mobile);
    letter-spacing: var(--text-preset-3-spacing-mobile);
    
}
.story-container >a{
    font: var(--text-preset-5-font-mobile);
    letter-spacing: var(--text-preset-5-spacing-mobile);
}

.date{
    position: absolute;
    font-size: 150px;
    color: var(--grey-150);
    z-index: -1;
    top: -15%;
    right: 10%;
}
.return{
    cursor: pointer;
}
.progress{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--grey-150);
    margin: 0;
    overflow: hidden;
    z-index: 99;
}
.progress::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    background-color: var(--black);
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    height: 70px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-info-name{
    margin: 0;
    font: var(--text-preset-3-font);
    letter-spacing: var(--text-preset-3-spacing);
}
.footer-info-artist{
    font: var(--text-preset-5-font);
    letter-spacing: var(--text-preset-5-spacing);
}
.controls{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.back path{
    stroke: var(--grey-200);
}
.back,.next{
    cursor: pointer;
}


.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 10;
}
.hidden{
    display: none;
}