@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --white : #ffffff;
    --black : #000000;
    /* grey */
    --grey-400 :#7D7D7D;
    --grey-200 : #D8D8D8;
    --grey-150 : #E5E5E5;
    --grey-100 :#F3F3F3;

    --gradient :linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 84%);

    /* TYPOGRAHY */
    /* text-preset-1 */
    --text-preset-1-font: 700 200px/1.15 "Libre Baskerville", serif;
    --text-preset-1-spacing: -0.2px;
    /*text-preset-2 */
    --text-preset-2-font: 700 56px/1.15 "Libre Baskerville", serif;
    --text-preset-2-spacing: 0px;
    /*text-preset-3 */
    --text-preset-3-font: 700 18px/1.25 "Libre Baskerville", serif;
    --text-preset-3-spacing: 0px;
    /*text-preset-4 */
    --text-preset-4-font: 400 15px/1.35 "Libre Baskerville", serif;
    --text-preset-4-spacing: 0px;
    /*text-preset-5 */
    --text-preset-5-font: 400 13px/1.25 "Libre Baskerville", serif;
    --text-preset-5-spacing: 0px;
    /*text-preset-6 */
    --text-preset-6-font: 700 12px/1.25 "Libre Baskerville", serif;
    --text-preset-6-spacing: 2.5px;
    /*text-preset-7 */
    --text-preset-7-font: 700 10px/1.2 "Libre Baskerville", serif;
    --text-preset-7-spacing: 2px;

    /* TYPOGRAPHY (MOBILE)~LATER */
    


}


.navbar{
    background-color: red;
    width: 100%;
    height: 300px;
}