@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  /* grey */
  --grey-400: #7d7d7d;
  --grey-200: #d8d8d8;
  --grey-150: #e5e5e5;
  --grey-100: #f3f3f3;

  --gradient: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 84%);

  /* TYPOGRAHY */
  /* text-preset-1 */
  --text-preset-1-font: 700 200px/1.15 "Libre Baskerville", serif;
  --text-preset-1-spacing: -0.2px;
  /*text-preset-2 */
  --text-preset-2-font: 700 56px/1.15 "Libre Baskerville", serif;
  --text-preset-2-spacing: 0px;
  /*text-preset-3 */
  --text-preset-3-font: 700 18px/1.25 "Libre Baskerville", serif;
  --text-preset-3-spacing: 0px;
  /*text-preset-4 */
  --text-preset-4-font: 400 15px/1.35 "Libre Baskerville", serif;
  --text-preset-4-spacing: 0px;
  /*text-preset-5 */
  --text-preset-5-font: 400 13px/1.25 "Libre Baskerville", serif;
  --text-preset-5-spacing: 0px;
  /*text-preset-6 */
  --text-preset-6-font: 700 12px/1.25 "Libre Baskerville", serif;
  --text-preset-6-spacing: 2.5px;
  /*text-preset-7 */
  --text-preset-7-font: 700 10px/1.2 "Libre Baskerville", serif;
  --text-preset-7-spacing: 2px;

  /* TYPOGRAPHY (MOBILE)~LATER */
  --text-preset-2-font-mobile: 700 24px/1.25 "Libre Baskerville", serif;
  --text-preset-2-spacing-mobile: 0px;
}

body {
  margin: 0;
  padding: 20px;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}
.navbar > button {
  background-color: transparent;
  border: none;
  font: var(--text-preset-4-font);
  letter-spacing: var(--text-preset-4-spacing);
  color: var(--grey-400);
}
.separator {
  width: 100%;
  border: none;
  height: 2px;
  background-color: var(--grey-150); /* ou la couleur de ton choix */
  margin: 0 0;
}
.bento-grid{
    width: 100%;
    height: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 10px;

}
.bento-grid >div{
    background-color: rebeccapurple;
    
}
#template-1{
    grid-row: 1/span 25;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/1024px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg");
}
#template-2{
    background-color: yellow;
    grid-row: 1/span 40;
}
#template-3{
    background-color: aqua;
    grid-row: 1/span 29;
}
#template-4{
    background-color: green;
    grid-row: 1/span 25;
}
#template-5{
    background-color: yellow;
    grid-row: 27/span 34;
}
#template-6{
    background-color: #000000;
    grid-row: 42/span 28;
}
#template-7{
    background-color: beige;
    grid-row: 31/span 49;
}
#template-8{
    background-color: aquamarine;
    grid-row: 27/span 25;
}
#template-9{
    background-color: #7d7d7d;
    grid-row: 62/ span 42;
}
#template-10{
    grid-row: 71/span 26;
    background-color: azure;
}
#template-11{
    grid-row: 81/span 50;
    background-color: darkblue;
}
#template-12{
    grid-row: 53/span 43;
    background-color: sienna;
}
#template-13{
    background-color: chartreuse;
    grid-row: 105/span 26;
}
#template-14{
    background-color: gold;
    grid-row: 98/span 33;
}
#template-15{
    background-color: khaki;
    grid-row: 97/span 34;
}

.bento-grid>div{
    opacity: 0.8;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
}
.bento-grid-title{
    font: var(--text-preset-2-font-mobile);
    letter-spacing: var(--text-preset-2-spacing-mobile);
    margin-bottom: 0;
}
.bento-grid-author{
    font: var(--text-preset-6-font);
    letter-spacing: var(--text-preset-6-spacing);
}


.bento-grid > div:hover{
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
}